<header class="main-responsive-header">
	<div class="header-wrapper">
		<div class="main-logo">Partials</div>
		<nav class="navigation">
			<ul class="main-menu">
				<li><a class="main-menu-link choosed-link" href="#">О нас</a></li>
				<li><a class="main-menu-link" href="#">Сервис</a></li>
				<li><a class="main-menu-link" href="#">Работа</a></li>
				<li><a class="main-menu-link" href="#">Блог</a></li>
				<li><a class="main-menu-link" href="#">Контакты</a></li>
				<li><a href="#" class="main-menu-icon"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
				<li><a href="#" class="main-menu-icon"><i class="fa fa-search" aria-hidden="true"></i>
				</a></li>
			</ul>
		</nav>
	</div>
</header>