%square-button {
  width: $square-button-width;
  height: $square-button-height;
}
%small-button {}
%medium-button {
  background-color: $red;
  border: none;
  color: $white;
  outline: none;
  cursor: pointer;
  width: $medium-button-width;
  height: $medium-button-height;
  text-transform: uppercase;
  font-family: $merriweather;
  font-size: 0.75rem;
}
%big-button {}


.hamburger {
  @extend %square-button;
  position: relative;
  z-index: 1;
  background-color: $gr100;
  border: 1px solid $gr100;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;

  .line-top, .line-middle, .line-bottom {
    width: 100%;
    height: 2px;
    background-color: $gr900;
  }
}

.btn {
  @extend %medium-button;
}
.medium-btn-empty {
  border: 2px solid $red;
  background-color: transparent;
  transition: $transition-15ms;
  &:hover, &:focus {
    background-color: $red;
  }
}