.container {
  width: 100%;
  height: 100%;
  background-color: red;
}

table {
  width: 100%;
  font-size: $font-size-small;
  table-layout: fixed;

  .image-holder > img {
    max-width: 150px;
  }

  .paragraph {
    margin-bottom: 4px;
  }

  thead>tr>th:first-child {
    width: 40px;
  }

  .time-holder {
    font-size: 18px;
  }

  .rest {
    margin-top: 20px;
  }

  .out {
    color: $brand-danger;
    text-transform: uppercase;
    font-weight: 600;
  }

  .name-holder {

  }
}

