html, body {
  width: 100%;
  height: 100%;
  @extend %regular;
  background-color: #fafafa;
}
* {
  -webkit-font-smoothing: antialiased !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  /*-webkit-font-smoothing: subpixel-antialiased !important;*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

}