.header {
  width: 100%;
  background-color: #333;
  @include fullbg;
  background-image: url("../images/jpg/main.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
  &__container {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    color: #fff;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__overlay {
    background-color: rgba(0,0,0,.38);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__greeting {
    display: flex;
    flex-direction: column;

    &-sign {
      margin-bottom: 24px;
      font-size: 4rem;
    }
  }
  &__subgreeting {
    font-size: 2.4rem;
  }
  &__schevron {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    width: 60px;
    height: 60px;
    background-image: url("../images/png/chevron-down.png");
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
    border-radius: 100%;
    border: 5px solid white;
  }
  &__nav {
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &-item {
      border: 1px solid white;
    }

    &-link {
      display: block;
      padding: 12px 16px;
      color: white;

      &:hover {
        background-color: white;
        color: #333;
      }
    }

  }
}