%choosed {
  border-bottom: 0.0625rem solid $red;
  color: $red;
}

.main-responsive-header {
  width: 100%;
  position: relative;
  background-color: $gr900;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 980px;
    height: 100px;
    margin: 0 auto;
    padding: 1.25rem;
  }
  .main-logo {
    color: white;
    font-size: 1.25em;
    border-bottom: 0.0625em solid $red;
  }
  .main-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    a {
      font-size: 1rem;
      color: white;
      padding: 0.625rem 0;
      margin: 0 1rem;
      text-transform: uppercase;
      &:hover {
        transition: $transition-15ms;
        @extend %choosed;
      }
    }
  }
}

.choosed-link {
  @extend %choosed;
}