/*FONTS*/
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/pluggable/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/pluggable/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/pluggable/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/pluggable/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/pluggable/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/pluggable/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/pluggable/OpenSansBold/OpenSansBold.woff") format("woff"),
  url("../fonts/pluggable/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

%regular {
  font: {
    family: 'OpenSansRegular';
    weight: 400;
    style: normal;
  }
}


%bold {
  font: {
    family: 'OpenSansBold';
    weight: 900;
    style: normal;
  }
}

.paragraph {
  font-size: 1.6rem;
  line-height: 3.2rem;
  padding: 0 60px;
  margin-bottom: 40px;
}