<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.css">

	<title>Basic Slider (JQ)</title>
</head>
<body>
//= ../partials/navigation.html
<div class="container accordion">

	<div class="accordion">
		<ul class="accordion__list">
				<li class="accordion__item">
					<div class="accordion__trigger">item1<span class="accordion__trigger-plus">
						<span class="line"></span>
						<span class="line"></span>
					</span></div>
					<div class="accordion__content">
						<p class="accordion__paragraph paragraph ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cumque delectus est fugiat in magnam perferendis vitae. At cum dicta fugit modi mollitia provident quaerat ratione sed. Officia?</p>
					</div>
				</li>
				<li class="accordion__item">
					<div class="accordion__trigger">item2<span class="accordion__trigger-plus">
						<span class="line"></span>
						<span class="line"></span>
					</span></div>
					<div class="accordion__content">
						<p class="accordion__paragraph paragraph ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad animi, autem, consequuntur dolore facilis incidunt ipsum iure magnam maiores mollitia odio placeat quia quisquam quo reiciendis repellendus sapiente tempora.</p>
					</div>
				</li>
				<li class="accordion__item">
					<div class="accordion__trigger">item3<span class="accordion__trigger-plus">
						<span class="line"></span>
						<span class="line"></span>
					</span></div>
					<div class="accordion__content">
						<p class="accordion__paragraph paragraph ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa deserunt mollitia non odit, officia pariatur sequi sunt tempora vitae. Ab aliquid amet deserunt eum facere in inventore, maiores placeat?</p>
					</div>
				</li>
				<li class="accordion__item">
					<div class="accordion__trigger">item4<span class="accordion__trigger-plus">
						<span class="line"></span>
						<span class="line"></span>
					</span></div>
					<div class="accordion__content">
						<p class="accordion__paragraph paragraph ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi odit rerum sapiente suscipit, voluptate voluptatibus voluptatum. Esse ex maxime necessitatibus quisquam tempora! Deleniti dicta illo illum non officia quaerat voluptate.</p>
					</div>
				</li>
				<li class="accordion__item">
					<div class="accordion__trigger">item5<span class="accordion__trigger-plus">
						<span class="line"></span>
						<span class="line"></span>
					</span></div>
					<div class="accordion__content">
						<p class="accordion__paragraph paragraph ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem dignissimos expedita, fugiat, illum itaque magni maiores nihil nisi omnis placeat quibusdam sapiente similique temporibus totam ut veritatis voluptate voluptatum?</p>
					</div>
				</li>
		</ul>
	</div>

</div>

<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>